body{
    font-family: "Roboto Condensed", sans-serif;
}

#profilePic{
    transform: rotate(180deg);
}

.badge{
    padding:20px;
}
#findMe{
    padding: 15px;
}
#reachOut{
    padding: 15px;
}
#trainPic{
    padding-top: 45px;
}
#firstHalf{
    margin-top: 20px;
    margin-bottom: 20px;
}
#skillsBox{
    background-color: lightsteelblue;
    padding: 30px;
    margin-left: 10px;
}
#hobbiesBox{
    background-color: rgb(226, 167, 162);
    padding: 30px;
}
#cardBox{
    background-color: khaki;
    padding: 10px;
}
.navbar{
    margin-bottom: 15px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 376px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }